<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <title>NG Model</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="MainController" class="container-fluid backGround">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="well col-md-4 col-lg-4">
            <label>Type something in, see what happens...</label>

            <br>

            <input id="input1" type="text" ng-model="string.text">
            <br>

            <h1>{{ string.text }}</h1>
        </div>


        <div class="well col-md-4 col-lg-4">
            <label>Type something in, see what happens...</label>

            <br>

            <input id="input2" type="text" ng-model="string.text2">
            <br>

            <h1>{{ string.text2 }}</h1>
        </div>

        <div class="well col-md-4 col-lg-4">
            <label>Type something in, see what happens...</label>

            <br>

            <input id="input3" type="text" ng-model="string.text3">
            <br>

            <h1>{{ string.text3 }}</h1>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <span>Here lies Bob</span>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="app.js"></script>

</body>

</html>