.scrollBar {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 10px;
    text-align: center;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

.scrollDiv {
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(225, 225, 225, .5);
    transition: 1s;
}

.scrollImage {
    height: 250px;
    width: auto;
}

.scrollDiv:hover {
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/d9/ac/3d/d9ac3d3e98488e4ff6805e2bce4f744e.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
    border: solid rgba(0, 0, 0, .5) 5px;
    border-radius: 75px;
}

.evilScrollBar {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 10px;
    text-align: center;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
}

.evilScrollDiv {
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, .5);
    transition: 1s;
}

.evilScrollDiv:hover {
    background-image: url("../photos/d9ac3d3e98488e4ff6805e2bce4f744e%20(1).jpg");
    background-size: cover;
    background-position: center;
    background-color: white;
    border: solid rgba(0, 0, 0, .5) 5px;
    border-radius: 75px;
}

.evilScrollImage {
    height: 250px;
    width: auto;
}

.evilScrollH3 {
    color: #d9534f;
}

.scrollH3 {
    color: #4036CC;
}
