.backGround {
    position: relative;
}

.backGround::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("photos/Bliss.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    padding-top: 300px;
    color: white;
}

.button {
    text-align: center;
}

button {
    height: 40px;
    background: none;
    opacity: .6;
}

button:hover {
    background-color: white;
    opacity: .5;
}

#myWorkContent {
    width: 100%;
    height: 210px;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#myWorkContent a {
    display: inline;
}
