<div class="row">
    <div class="signupDiv col-lg-4 col-lg-offset-3">
        <h1>Create a new user</h1>

        <form>
            <div>
                <h3>Name</h3>
                <input type="text" ng-model="user.name">
            </div>
            <br>

            <div>
                <h3>Username</h3>
                <input type="text" ng-model="user.username">
            </div>
            <br>

            <div>
                <h3>Password</h3>
                <input type="password" ng-model="user.password">
            </div>
            <br>

            <div>
                <h3>Repeat Password</h3>
                <input type="password" ng-model="passwordRepeat">
                <span class="text-danger" ng-show="passwordMessage">{{passwordMessage}}</span>
            </div>

            <br>
            <button class="btn btn-default" ng-click="signup(user)">Sign up</button>
        </form>
    </div>
</div>
