<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <title>Name Badges</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="MainController" class="container">

    <div class="well">
        <form name="userForm">
            <fieldset>
                <input type="text" placeholder="First Name" ng-model="person.firstName" ng-minlength="3" required>
                <input type="text" placeholder="Last Name" ng-model="person.lastName" ng-minlength="3" required>
                <br>
                <input type="email" placeholder="Email" ng-model="person.email" required>
                <input type="text" placeholder="Place of Birth" ng-model="person.birthPlace" required>
                <br>
                <input type="number" placeholder="Phone" ng-model="person.phone" ng-minlength="10" ng-maxlength="10" required>
                <input type="text" placeholder="Favorite Food" ng-model="person.food" ng-minlength="3" required>
                <br>
                <br>
                <textarea name="textArea" cols="40" rows="5" class="infoBox" placeholder="Tell us about yourself" ng-model="person.about" ng-minlength="3" required></textarea>
                <br>
                <br>
                <button class="btn btn-access" ng-click="addPerson(person)" ng-disabled="userForm.$invalid">Submit</button>
            </fieldset>
        </form>
    </div>

    <div class="row displayDiv" ng-repeat="person in people track by $index">
        <h3 ng-style="{'background-color: colors[index]'}">Badge:</h3>
        <form class="displayForm row">
            <fieldset>
                <div class="topLine col-lg-6 col-lg-offset-3">
                    <br>
                    <span class="left"><b>Name:</b> {{ person.firstName }} {{ person.lastName }}</span>

                    <span class="right"><b>Email:</b> {{ person.email }}</span>
                    <br>
                    <br>

                </div>
                <br>
                <div class="middleLine col-lg-6 col-lg-offset-3">
                    <br>
                    <span class="left"><b>Place of Birth:</b> {{ person.birthPlace }}</span>
                    <span class="right"><b>Phone:</b> {{ person.phone }}</span>
                    <br>
                    <br>

                </div>
                <br>
                <div class="bottomeLine col-lg-6 col-lg-offset-3">
                    <br>
                    <span class="left"><b>Favorite Food:</b> {{ person.food }}</span>
                    <br>
                    <br>
                </div>
                <br>

                <div class="aboutYou col-lg-6 col-lg-offset-3">
                    <span>{{ person.about }}</span>
                </div>
                <br>
                <br>
            </fieldset>
            <br>
            <br>
        </form>
        <br>
        <br>
    </div>

    <br>
    <br>
    <br>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="app.js"></script>

</body>

</html>