* {
    font-family: 'Limelight', cursive;
    color: white;
}

body {
    background-color: #666666;
}

nav {
    background-color: #333333;
    border-radius: 25px;
    padding: 10px;
}

h1 {
    color: white;
}

.carImg {
    width: 300px;
}

h2 {
    font-family: 'Limelight', cursive;
    text-align: center;
}

button {
    font-family: 'Limelight', cursive;
}

nav {
    text-align: center;
}

.topUl {
    list-style: none;
    position: fixed;
    padding: 25px;
    text-align: left;
    z-index: 5;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 20px;
}

a {
    color: white;
}

.input {
    text-align: center;
}

input {
    width: 250px;
    border-radius: 15px;
    color: #333333;
}

.contactUl {
    list-style-type: none;
    text-align: center;
}

.poster {
    text-align: center;
}