<br>
<br>
<br>

<h2>Want to search for a movie?  Just enter the title:</h2>


<div class="input">
    <input type="text" ng-model="input">
    <button ng-click="findMovie(input)" class="btn btn-primary btn-sm">Find My Movie!</button>
</div>

<div class="row">
    <div class="col-lg-8">
        <h3>Title: {{movieInfo.title}}</h3>
        <h4>Released: {{movieInfo.released}}</h4>
        <h4>Rated: {{movieInfo.rated}}</h4>
        <h4>Director: {{movieInfo.director}}</h4>
        <h4>Actors: {{movieInfo.actors}}</h4>
        <h4>Plot: {{movieInfo.plot}}</h4>
    </div>
    <div class="poster">
        <img ng-src="{{movieInfo.poster}}">
    </div>
</div>