/* The starting CSS styles for the enter animation */


.fade.ng-enter {
    transition: 2s linear all;
    opacity: 0;
}


/* The finishing CSS styles for the enter animation */

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    animation: my_fade_animation 1s linear;
    -webkit-animation: my_fade_animation 1s linear;
}

@keyframes my_fade_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes my_fade_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

img {
    height: 600px;
}
