h1 {
    color: green;
    font-family: Georgia;
    text-align: center;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

footer {
    text-transform: uppercase;
}

img {
    float: left;
    margin: 0 25px 25px 25px;
}