
.pink{
    background-color: #F5C6D6;
    border: 5px solid white;
    padding: 8%;
    width: 70%;
    display: inline-block;
}

.darkPink{
    background-color: #EE2E84;
    padding: 8%;
/*    width: 40px;*/
    width: 4.5%;
    display: inline-block;
    border: 5px solid white;
    margin: none;
}

.blue{
    background-color: #85CFD8;
    padding: 8%;
/*    width: 295px;*/
    width: 26.3%;
    display: inline-block;
    border: 5px solid white;
}

.green{
    background-color: #8DC63F;
    padding: 8%;
    border: 5px solid white;
/*    width: 550px;*/
    width: 49%;
    display: inline-block;
}

.orange{
    background-color: #E76E34;
    padding: 8%;
    border: 5px solid white;
    display: inline-block;
/*    width: 40px;*/
    width: 3.8%;
}

main{
    background-color: white;
    text-align: center
}

