<div ng-init="getPonies()"></div>

<div class="row">
    <div class="center-block addWrap">
        <h2>See all your favorite ponies you've added!</h2>
        <div class="col-lg-3 addPony center-block" ng-repeat="pony in ponyService.ponyList">
            <h3 class="ponyName">{{pony.name}}</h3>
            <div class="listImage center-block">
                <img ng-src="{{pony.imgUrl}}" alt="" class="img-responsive center-block ponyImage">
            </div>
            <h4 class="userName">{{pony.username}}</h4>
            <br>
            <button class="btn btn-sm removeBtn" ng-click="removePonies(pony)">Remove</button>
            <br>
            <br>
        </div>
    </div>
</div>
